.product-description {
  padding: 2rem .5rem;
}



.product-description__text {
  padding-top: 2rem;

  font-size: .875rem;
  line-height: 1.5rem;
  font-family: Lora, serif;
}

.product-description__text > ul {
  padding: 0;
}

.product-description__text li {
  list-style-type: none;

  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #171717;
  font-family: Lora, sans-serif;
}

.product-description__text_hidden {
  display: none;
}

.description-text-delimiter {
  line-height: 1.5rem;
}

@media (width: 48rem) {
  .product-shipping {
    display: none;
  }

  .product-description {
    padding: 1.5rem 0;
  }

  .product-description__text {
    padding-top: 1rem;
  }
}