.main-footer {
  display: block;
  padding-top: 2rem;
  background: #f3f3f3;
}

.main-footer__navs {
  display: none;
}

.main-footer__btn {
  padding-left: .5rem;
  padding-right: .5rem;

  color: #999999;
  line-height: 1rem;
  font-size: .75rem;
  text-decoration: none;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;

  background-color: transparent;
  border: none;
}

.main-footer__btn_country {
  margin: 0 1.3125rem 1rem 0;
}

.main-footer__btn_lang {
  margin: 0 0 1.5rem;
}

.main-footer__help {
  margin: 0 0 1rem;

  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  color: #171717;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.main-footer__contacts {
  padding-bottom: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  text-align: center;
}

.main-footer__contact {
  margin: 0;

  font-size: .875rem;
  line-height: 17px;
  color: #171717;
  font-family: Lora, serif;
  font-style: italic;
}


@media (min-width: 48rem) {
  .main-footer__contacts {
    display: none;
  }

  .main-footer__navs {
    display: block;

    margin-bottom: 2rem;
  }

  .main-footer__btn {
    margin-bottom: 2rem;
    padding: 0;
  }

  .footer-menu__nav {
    display: flex;
    flex-flow: column;
  }

  .main-footer__header {
    margin-bottom: 1rem;

    font-size: .75rem;
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .main-footer__link {
    margin: 0 0 .75rem;

    font-size: .75rem;
    line-height: 1.33333333;
    color: #999999;
    text-decoration: none;
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .main-footer__link:last-child {
    margin: 0;
  }
}