* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: #ffffff;
}

.blocks-delimiter {
  margin-left: -.5rem;
  margin-right: -.5rem;

  border: 0;
  border-top: solid 1px #c6c6c6;
}

@media (min-width: 48rem) {
  .blocks-delimiter {
    display: none;
  }
}

.product-title {
  padding: 1rem .5rem;
  margin: 0;

  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #171717;
  font-family: Lora, serif;
}

@media (min-width: 48rem) {
  .header__logo {
    margin: 1.5rem auto;
  }

  .product-title {
    padding: 1.5rem 0;

    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.product-info {
  padding: 1rem .5rem 3rem .5rem;
}

@media (min-width: 48rem) {
  .product-info {
    padding: 0 0 3rem 0;
  }
}

.product-info__price-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  padding-bottom: 1rem;
}

.product-info__price {
  margin: 0;

  font-size: 1em;
  line-height: 1.1875rem;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.product-info__article {
  align-self: center;

  font-size: .75rem;
  line-height: 1rem;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.product-colors {
  padding-bottom: 2rem;
}

.product-colors-buttons {
  display: flex;
}

.product-info__color_selected {
  padding-bottom: 1rem;

  font-size: .75rem;
  line-height: 1rem;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.product-colors-buttons__button {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;

  border: 1px solid #232122;
  border-radius: 2.5rem;

  line-height: 0;
  font-size: 0;
  color: transparent;
}

.product-colors-buttons__button_active {
  border: 1px solid #232122;
}

.product-colors-buttons__button_bg-black {
  background: #000000;
}

.product-colors-buttons__button_bg-brown {
  background: #cfa880;
}

.product-buttons {
  display: flex;
  flex-flow: column;
  padding-top: 2rem;

  border-top: solid 1px #c6c6c6;
}

.product-buttons__button {
  height: 3rem;
  box-sizing: border-box;
  margin-bottom: 1rem;

  line-height: .875rem;
  font-size: .75rem;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;

  border-radius: .125rem;
}

.product-buttons__button_size {
  color: #ffffff;

  background: #171717;
  border: 1px solid #171717;
}

.product-buttons__button_store {
  color: #171717;

  background: #ffffff;
  border: 1px solid #999999;
}

.product-buttons__button_help {
  margin-top: .5rem;
  padding: 0;
  align-self: start;

  font-size: .75rem;
  line-height: 1rem;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;

  color: #171717;
  border: none;
  background-color: transparent;
}

.product-description {
  padding: 2rem .5rem;
}

.product-description__header {
  flex: 0 0 100%;
}

.product-description__title {
  position: relative;

  line-height: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.product-description__title::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;

  width: .625rem;
  height: 1.25rem;

  /*background: url(images/triangle.svg) no-repeat center right;*/
}

@media (min-width: 48rem) {
  .product-description__title::after {
    display: none;
  }
}

.product-description__title_open::after {
  transform: rotate(-180deg);
}

.product-description__text {
  padding-top: 2rem;

  font-size: .875rem;
  line-height: 1.5rem;
  font-family: Lora, serif;
}

.product-description__text > ul {
  padding: 0;
}

.product-description__text li {
  list-style-type: none;

  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #171717;
  font-family: Lora, sans-serif;
}

.product-description__text_hidden {
  display: none;
}

.description-text-delimiter {
  line-height: 1.5rem;
}

@media (width: 48rem) {
  .product-shipping {
    display: none;
  }

  .product-description {
    padding: 1.5rem 0;
  }

  .product-description__text {
    padding-top: 1rem;
  }
}

.delivery {
  display: none;
}

@media (min-width: 48rem) {
  .delivery {
    display: block;

    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .delivery__photo {
    display: block;
    width: 100%;
  }

  .delivery__header {
    margin-bottom: 1rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #171717;
  }

  .delivery__paragraph_header {
    height: .825rem;
    margin: 0 0 .25rem;

    font-size: .75rem;
    line-height: .825rem;
  }

  .delivery__paragraph_text {
    font-size: .75rem;
    line-height: 1rem;
  }

  .delivery__paragraph {
    display: block;
    margin-bottom: 1.5rem;
  }

  .delivery__paragraph:last-child {
    margin: 0;
  }
}

.product-recommendations {
  padding: 3rem .5rem 0;
}

.product-recommendations__header,
.recommendations-more__header {
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .product-recommendations {
    padding: 1.5rem 0 0 0;
  }

  .product-recommendations__header {
    margin-bottom: 1rem;
  }
}

.product-recommendations__title,
.recommendations-more__title {
  padding-bottom: .5rem;
  display: inline-block;

  border: 0;
  border-bottom: 1px solid #171717;

  line-height: 1.1875rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.recommendations__item {
  display: flex;
  flex-flow: column;
  margin: 0 0 2rem;

  color: #111111;
  text-decoration: none;
}

.recommendations-items__image {
  width: 100%;
  height: auto;
  padding-bottom: .5rem;
  vertical-align: middle;
}

.recommendations-items__title {
  padding-bottom: .5rem;

  line-height: 19px;
  font-size: 1rem;
  color: #171717;
  font-weight: 400;
  font-family: Lora, Helvetica, Arial, serif;
}

.recommendations-items__price {
  color: #999999;
  font-size: .75rem;
  line-height: .875rem;
  font-weight: 300;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.recommendations-more {
  display: flex;
  flex-flow: column;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

@media (min-width: 48rem) {
  .recommendations-more {
    display: none;
  }
}

.recommendations-more__link {
  display: block;
  margin-bottom: 1rem;

  font-size: .875rem;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #171717;
  font-style: italic;
  font-family: Lora, Helvetica, Arial, serif;
}



